# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/
venv/


# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Database
*.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/